body {
  margin: 0;
  font-family: sans-serif;
}

#header, #footer {
  padding: 12px;
  text-align: center;
}
#header {
  background-color: #222;
  color: white;
  margin-bottom: 0px;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #666;
  font-size: 9pt;
}
#header button {
  float: right;
}

button {
  outline: none;
  border: 1px solid #AAA;
  border-radius: 5px;
  padding: 7px;
  font-size: 9pt;
  background-color: white;
  margin-top: -6px; /* gross. no bootstrap */
}
button:hover {
  cursor: pointer;
  background-color: #EEE;
}
button:active {
  background-color: #AAA;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
td {
  padding: 5px;
  border-bottom: 1px solid #DDD;
}
td:hover {
  cursor: pointer;
}

#map-canvas {
  height: 60%;
}
